pipeline {
  agent {
    node {
      label 'AWS'
    }
  }

  options {
    timeout(time: 15, unit: 'MINUTES')
  }

  environment {
    registry = 'https://651309617045.dkr.ecr.eu-central-1.amazonaws.com'
    githubCredId = 'jenkins-to-k8s-tenant-youhodler-backend-deploy-key'
    GIT_AUTHOR_NAME = "${currentBuild.getBuildCauses()[0].userName}"
    GIT_AUTHOR_EMAIL = "jenkins-youhodler@users.noreply.github.com"
    GIT_COMMITTER_NAME = "${currentBuild.getBuildCauses()[0].userName}"
    GIT_COMMITTER_EMAIL = "jenkins-youhodler@users.noreply.github.com"
    contour = '{{ item[0] }}'
    overlayPath = 'workloads/overlays/stage/{{ item[0] }}'
    registryName = '651309617045.dkr.ecr.eu-central-1.amazonaws.com'
{% if item[1] == 'loan-provider-ts' %}
    serviceName = 'loan-provider'
{% else %}
    serviceName = '{{ item[1] }}'
{% endif %}
    imageName = '{{ item[1] }}'
    newTag = "${params.DOCKER_TAG}".trim()
  }

  stages {
    stage('Deploy') {
      steps {
        script {
          currentBuild.displayName = "#${env.BUILD_NUMBER} ${newTag}"
        }

        git url: 'git@github.com:YouToken/k8s-tenant-youhodler-backend.git',
            branch: 'master',
            credentialsId: githubCredId

        script {
          sh '''#!/bin/bash
            rm -rf ${overlayPath}/${serviceName}/.env
{% if item[1] == 'loan-admin' %}
              for i in backend frontend; do
                last_image_tags=$(aws ecr describe-images --repository-name ${imageName} --image-ids imageTag=${newTag}-$i --region eu-central-1 --query \'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[*]\')

                echo "last tags for image ${newTag}-$i=$last_image_tags"

                function RETURN_TAG_HASH {
                  for tag_line in $1; do
                    [[ $tag_line =~ (master|stable|pr)-[a-z0-9]*-[0-9]*-[0-9]*-[0-9]*\\.[0-9]{6}-$i ]] && echo $BASH_REMATCH
                  done
                }

                tag_hash=$(RETURN_TAG_HASH "$last_image_tags")
                echo tag with hash is $tag_hash
                test "${tag_hash}" || exit 1
                newTag$i="$tag_hash"
                echo "newTag$i=$tag_hash" >> ${overlayPath}/${serviceName}/.env
              done
{% else %}
{% if item[1] == 'web-app' %}
            if [ ${newTag} == "master" ]; then
{% endif %}
              last_image_tags=$(aws ecr describe-images --repository-name ${imageName} --image-ids imageTag=${newTag} --region eu-central-1 --query \'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[*]\')
              echo "last tags for image ${newTag}=$last_image_tags"

              function RETURN_TAG_HASH {
                for i in $1; do
                  [[ $i =~ (master|stable|pr)-[a-z0-9]*-[0-9]*-[0-9]*-[0-9]*\\.[0-9]{6} ]] && echo $BASH_REMATCH
                done
              }

              tag_hash=$(RETURN_TAG_HASH "$last_image_tags")
              echo tag with hash is $tag_hash
              test "${tag_hash}" || exit 1
              newTag="$tag_hash"
              echo "newTag=$tag_hash" > ${overlayPath}/${serviceName}/.env
{% if item[1] == 'web-app' %}
            else
              echo "newTag=$newTag"
              echo "newTag=$newTag" > ${overlayPath}/${serviceName}/.env
            fi
{% endif %}
{% endif %}
              echo ${overlayPath}/${serviceName}/.env
              cat ${overlayPath}/${serviceName}/.env
            '''
        }

        dir("${overlayPath}/${serviceName}") {
          script {
            withCredentials([sshUserPrivateKey(credentialsId: githubCredId, keyFileVariable: 'SSH_KEY')]) {
              withEnv(["GIT_SSH_COMMAND=ssh -o StrictHostKeyChecking=no -i ${SSH_KEY}"]) {
                docker.image('k8s.gcr.io/kustomize/kustomize:v4.5.7').inside('--entrypoint=""') {
                  dir('deploy') {
{% if item[1] == 'loan-admin' %}
                    sh 'source ../.env; kustomize edit set image ${registryName}/${imageName}:not-exists-frontend=${registryName}/${imageName}:${newTagfrontend} && kustomize edit set image ${registryName}/${imageName}:not-exists-backend=${registryName}/${imageName}:${newTagbackend}'
{% else %}
                    sh 'source ../.env; kustomize edit set image ${registryName}/${imageName}:${newTag}'
{% endif %}
                  }
{% if not item[1] in apps_without_predeploy %}
                  dir('pre-deploy') {
                    sh 'source ../.env; kustomize edit set image ${registryName}/${imageName}:${newTag}'
                  }
{% endif %}
                }
                sh 'git add deploy/kustomization.yaml{% if not item[1] in apps_without_predeploy %} pre-deploy/kustomization.yaml{% endif %}'
                hasChanges = sh(
                  script: '''
                    if [ -n "$(git status --porcelain --untracked-file=no)" ]; then
                      exit 1 # There are changes.
                    else
                      exit 0 # Nothing to commit.
                    fi
                  ''',
                   returnStatus: true
                )

                if (!hasChanges) {
                  echo "Nothing to update"
                  currentBuild.result = 'ABORTED'
                  error "Nothing to update"
                }

                sh """
                  git commit -m "Update ${serviceName} on ${contour} to ${newTag}. By: ${BUILD_URL}"
                  git log -1
                """

                retry(5) {
                  isPushFailed = sh(
                    returnStatus: true,
                    script: '''
                      git pull --rebase origin master
                      git push origin master
                    '''
                  )

                  if (isPushFailed) {
                    sleep time: 30, unit: 'SECONDS'
                    error 'Failed to push to config repo.'
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
