def newTag

pipeline {
  agent {
    node {
      label 'AWS'
    }
  }

  options {
    timeout(time: 15, unit: 'MINUTES')
  }

  environment {
    githubCredId = 'jenkins-to-core-kubernetes-infrastructure-deploy-key'
    azureCredId = 'azureServicePrincipal'
    GIT_AUTHOR_NAME = "${currentBuild.getBuildCauses()[0].userName}"
    GIT_AUTHOR_EMAIL = "jenkins-youhodler@users.noreply.github.com"
    GIT_COMMITTER_NAME = "${currentBuild.getBuildCauses()[0].userName}"
    GIT_COMMITTER_EMAIL = "jenkins-youhodler@users.noreply.github.com"
    registryStart = 'youhodler'
    // registryTag = "${params.REGISTRY_TAG}".trim()
    registryDomain = '.azurecr.io'
{% if item[0] == 'core-test' %}
    contour = 'test'
{% elif item[0] == 'core-uat' %}
    contour = 'uat'
{% elif item[0] == 'staging' %}
    contour = 'stg'
{% elif item[0] == 'development' %}
    contour = 'dev'
{% else %}
    contour = '{{ item[0] }}'
{% endif %}
    overlayPath = 'k8s/infrastructure'
    serviceName = '{{ item[1] }}'
    imageName = '{{ item[1] }}'
    userInputTag = "${params.DOCKER_TAG}".trim()
    newTag = ''
  }

  stages {
    stage('Deploy') {
      steps {
        git url: 'git@github.com:YouToken/core-kubernates-infrastructure.git',
            branch: 'main',
            credentialsId: githubCredId

        script {
          sh('git clean -fdx')

          if (env.userInputTag =~ /^[0-9]+.[0-9]+.[0-9]+/) {
            echo "Use registry prod"
            env.registryTag = 'prod'
            env.subscription = 'Production-CSP'
          }
          else {
            echo "Use registry test"
            env.registryTag = 'test'
            env.subscription = 'Test-CSP'
          }
        
          echo "Tag: ${registryTag}"
          echo "Subscription: ${subscription}"
        
          withCredentials([azureServicePrincipal(azureCredId)]) {
            sh 'az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET -t $AZURE_TENANT_ID'
            sh 'az account set --subscription ${subscription}'
          }

          echo "Registry Tag: ${registryTag}"

          env.imageDigest = sh(
            returnStdout: true,
            script: '''
                az acr repository show-tags \
                 --name ${registryStart}${registryTag} \
                 --repository ${imageName} -o json \
                 --detail | jq -r \'.[] | select(.name=="\'${userInputTag}\'").digest\'
            '''
          ).trim()

          echo "ACR found digest: ${env.imageDigest}"

          List dockerRegistryTags = sh(
            returnStdout: true,
            script: '''
              az acr repository show-tags \
                --name ${registryStart}${registryTag} \
                --repository ${imageName} \
                --orderby time_desc -o json \
                --detail | jq -r \'.[] | select(.digest=="\'${imageDigest}\'").name\'
            '''
          ).trim().split(/\s+/).toList()

          if (!dockerRegistryTags) {
            error('Not found images in ECR. Exiting with error.')
          }

          echo "ACR found tags: ${dockerRegistryTags.toString()}"

          def sortableGitTagRegex = /^(master|stable|pr)-[a-z0-9]+-[0-9]{4}+-[0-9]{2}+-[0-9]{2}+\.[0-9]{6}.*/
          dockerRegistryTags.each { t ->
            def m = t =~ sortableGitTagRegex
            if (m.matches()) {
              echo "Recognized latest tag for specific branch or PR"
              newTag = m.group(0)
            }
          }

          if (!newTag) {
            echo "Use User provided tag: ${userInputTag}"
            newTag = userInputTag
          }

          if (!newTag) {
            error('Cannot recognize tag to deploy. Exiting with error.')
          }
          echo "New tag to deploy: ${newTag}"
          currentBuild.displayName = "#${env.BUILD_NUMBER} ${newTag}"
        }

        dir("${overlayPath}/${contour}/${serviceName}") {
          script {
            withCredentials([sshUserPrivateKey(credentialsId: githubCredId, keyFileVariable: 'SSH_KEY')]) {
              withEnv(["GIT_SSH_COMMAND=ssh -o StrictHostKeyChecking=no -i ${SSH_KEY}"]) {
                docker.image('k8s.gcr.io/kustomize/kustomize:v4.5.7').inside('--entrypoint=""') {
                  def kustomizeCommand = "kustomize edit set image not-important-here=${registryStart}${registryTag}${registryDomain}/${imageName}:${newTag}"

                  sh(kustomizeCommand)
                }

                sh 'git add kustomization.yaml'

                hasChanges = sh(
                  returnStatus: true,
                  script: '''
                    if [ -n "$(git status --porcelain --untracked-file=no)" ]; then
                      exit 1 # There are changes.
                    else
                      exit 0 # Nothing to commit.
                    fi
                  '''
                )

                if (!hasChanges) {
                  echo "Nothing to update"
                  currentBuild.result = 'ABORTED'
                  error "Nothing to update"
                }

                sh """
                  git commit -m "Update ${serviceName} on ${contour} to ${newTag}. By: ${BUILD_URL}"
                  git log -1
                """

                sshagent([githubCredId]) {
                  retry(0) {
                    isPushFailed = sh(
                      returnStatus: true,
                      script: '''
                        git pull --rebase origin main
                        git push origin main
                      '''
                  )

                    if (isPushFailed) {
                      sleep time: 30, unit: 'SECONDS'
                      error 'Failed to push to config repo.'
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

