def newTag

pipeline {
  agent {
    node {
      label 'AWS'
    }
  }

  options {
    timeout(time: 15, unit: 'MINUTES')
  }

  environment {
    registry = 'https://651309617045.dkr.ecr.eu-central-1.amazonaws.com'
    githubCredId = 'jenkins-to-k8s-tenant-youhodler-backend-deploy-key'
    GIT_AUTHOR_NAME = "${currentBuild.getBuildCauses()[0].userName}"
    GIT_AUTHOR_EMAIL = "jenkins-youhodler@users.noreply.github.com"
    GIT_COMMITTER_NAME = "${currentBuild.getBuildCauses()[0].userName}"
    GIT_COMMITTER_EMAIL = "jenkins-youhodler@users.noreply.github.com"
    contour = '{{ item[0] }}'
    overlayPath = 'workloads/overlays/stage/{{ item[0] }}'
    registryName = '651309617045.dkr.ecr.eu-central-1.amazonaws.com'
{% if item[1] == 'loan-provider-ts' %}
    serviceName = 'loan-provider'
{% else %}
    serviceName = '{{ item[1] }}'
{% endif %}
    imageName = '{{ item[1] }}'
{% if item[1] == 'loan-admin' %}
    userInputTag = "${params.DOCKER_TAG}-backend".trim()
{% else %}
    userInputTag = "${params.DOCKER_TAG}".trim()
{% endif %}
    newTag = ''
  }

  stages {
    stage('Deploy') {
      steps {
        git url: 'git@github.com:YouToken/k8s-tenant-youhodler-backend.git',
            branch: 'master',
            credentialsId: githubCredId

        script {
          sh('git clean -fdx')

          List dockerRegistryTags = sh(
            returnStdout: true,
            script: '''
              aws ecr describe-images \
                --repository-name ${imageName} \
                --image-ids imageTag=${userInputTag} \
                --region eu-central-1 \
                --output text \
                --query \'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[*]\'
            '''
          ).trim().split(/\s+/).toList()

          if (!dockerRegistryTags) {
            error('Not found images in ECR. Exiting with error.')
          }

          echo "ECR found tags: ${dockerRegistryTags.toString()}"

          def sortableGitTagRegex = /^(master|stable|pr)-[a-z0-9]+-[0-9]{4}+-[0-9]{2}+-[0-9]{2}+\.[0-9]{6}.*/
          dockerRegistryTags.each { t ->
            def m = t =~ sortableGitTagRegex
            if (m.matches()) {
              echo "Recognized latest tag for specific branch or PR"
              newTag = m.group(0)
            }
          }

          if (!newTag) {
            echo "Use User provided tag: ${userInputTag}"
            newTag = userInputTag
          }

          if (!newTag) {
            error('Cannot recognize tag to deploy. Exiting with error.')
          }
          echo "New tag to deploy: ${newTag}"
          currentBuild.displayName = "#${env.BUILD_NUMBER} ${newTag}"
        }

        dir("${overlayPath}/${serviceName}") {
          script {
            withCredentials([sshUserPrivateKey(credentialsId: githubCredId, keyFileVariable: 'SSH_KEY')]) {
              withEnv(["GIT_SSH_COMMAND=ssh -o StrictHostKeyChecking=no -i ${SSH_KEY}"]) {
                docker.image('k8s.gcr.io/kustomize/kustomize:v4.5.7').inside('--entrypoint=""') {
{% if item[1] == 'loan-admin' %}
                  def kustomizeCommand = """
                    kustomize edit set image ${registryName}/${imageName}:not-exists-frontend=${registryName}/${imageName}:${newTag.replaceAll('backend','frontend')}
                    kustomize edit set image ${registryName}/${imageName}:not-exists-backend=${registryName}/${imageName}:${newTag}
                  """
{% elif item[1] not in apps_not_from_base_components %}
                  def kustomizeCommand = "kustomize edit set image not-exists=${registryName}/${imageName}:${newTag}"
{% else %}
                  def kustomizeCommand = "kustomize edit set image ${registryName}/${imageName}:${newTag}"
{% endif %}

                  dir('deploy') {
                    sh(kustomizeCommand)
                  }

                  if (fileExists('pre-deploy')) {
                    dir('pre-deploy') {
                      sh(kustomizeCommand)
                    }
                  }
                }

                sh 'git add deploy/kustomization.yaml'
                if (fileExists('pre-deploy')) {
                  sh 'git add pre-deploy/kustomization.yaml'
                }

                hasChanges = sh(
                  returnStatus: true,
                  script: '''
                    if [ -n "$(git status --porcelain --untracked-file=no)" ]; then
                      exit 1 # There are changes.
                    else
                      exit 0 # Nothing to commit.
                    fi
                  '''
                )

                if (!hasChanges) {
                  echo "Nothing to update"
                  currentBuild.result = 'ABORTED'
                  error "Nothing to update"
                }

                sh """
                  git commit -m "Update ${serviceName} on ${contour} to ${newTag}. By: ${BUILD_URL}"
                  git log -1
                """

                retry(5) {
                  isPushFailed = sh(
                    returnStatus: true,
                    script: '''
                      git pull --rebase origin master
                      git push origin master
                    '''
                  )

                  if (isPushFailed) {
                    sleep time: 30, unit: 'SECONDS'
                    error 'Failed to push to config repo.'
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
