pipeline {
  agent {
    node {
      label 'master'
    }
  }

  stages {
    stage('Deploy') {
      steps {
        script {
          currentBuild.displayName = "#${env.BUILD_NUMBER} ${params.DOCKER_TAG}"
        }

        script {
          jobs = {{ apps }}

          jobs.each { job ->
            try {
              echo "loan-{{ item }}-${job}:${params.DOCKER_TAG}"
              build(
                wait: false,
                job: "loan-{{ item }}-${job}",
                parameters: [string(name: 'DOCKER_TAG', value: params.DOCKER_TAG)]
              )
            } catch (err) {
              echo err.getMessage()
            }
          }
        }
      }
    }
  }
}
