pipeline {
  agent {
    node {
      label 'master'
    }
  }

  environment {
    githubCredId = 'jenkins-to-k8s-tenant-youhodler-backend-deploy-key'
    overlayPath = 'workloads/overlays/prod'
  }

  stages {
    stage('Deploy') {
      steps {
        git url: 'git@github.com:YouToken/k8s-tenant-youhodler-backend.git',
            branch: 'master',
            credentialsId: githubCredId

        script {
          sh('git clean -fdx')
        }

        dir("${overlayPath}") {
          script {
            List prodServicesVersions = sh(
              returnStdout: true,
              script: """
                #!/bin/bash
                /bin/bash -c ${workspace}/scripts/get-prod-versions.sh
              """
            ).trim().split(/\s+/).toList()

            echo "Prod versions: ${prodServicesVersions.toString()}"

            def map = [:]

            prodServicesVersions.each { line ->
              def tags = line.split("[=\\s]+")
              map[tags[0]] = tags[1]
            }

            map.each { serviceName, serviceTag ->
              try {
                echo "loan-{{ item }}-${serviceName}:${serviceTag}"
                build(
                  wait: false,
                  job: "loan-{{ item }}-${serviceName}",
                  parameters: [string(name: 'DOCKER_TAG', value: serviceTag)]
                )
              } catch (err) {
                echo err.getMessage()
              }
            }
          }
        }
      }
    }
  }
}
